.block{
    background-color: darkseagreen;
}

.block ul{
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
}

.block ul li{
    list-style-type: none;
    padding: 20px;
}

.block a{
    text-decoration: none;
    color: black;
    padding: 10px;
}

.block a:hover{
    background-color: azure;
    border-radius: 10px;
}
