.block{
    padding: 20px;
    background-color: cadetblue;
}

.block input{
    width: 200px;
    height: 25px;
    border-radius: 25px;
}

.block button{
    width: 100px;
    height: 31px;
    background-color: lightgreen;
}